.title, .tagline {
    text-align: center;
    font-size: 20pt;
    color: midnightblue;
    margin-bottom: 5px;
    font-family: "Avenir Next", sans-serif;
    padding-top: 0px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.tagline {
    font-size: 10pt;}

.menu {
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: 	rgb(193,198,200); }

ul {
    /*border: 1px solid #e7e7e7;*/
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 30px;
    overflow: hidden;
}

li {
    color: #666;
    display: inline;
}

li a {
    display: block;
    font-family: "Brandon Grotesque", sans-serif;
    color: dimgrey;
    text-align: center;
    padding: 18px 24px;
    text-decoration: none;
    display: inline;

}

.main_heading {
    font-family: "Avenir Next", sans-serif;
    color: midnightblue;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.content {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    font-family: "Avenir Next", sans-serif;
}

.headings {
    color: midnightblue;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.questions {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 12pt;
    color: dimgray;
    font-family: "Avenir Next", sans-serif;
    padding-left: 200px;
    padding-right: 200px;
}

.here {
    text-decoration: underline;
    color: deeppink;
}

.footer_content {
    text-align: center;
    font-size: 12pt;
    color: midnightblue;
    font-family: "Avenir Next", sans-serif;
    padding-left: 310px;
    padding-right: 310px;
    padding-top: 20px;
}